body {
    background: linear-gradient(grey, 10%, white);
    min-height: 100vh;
}
h1 {
    margin-top: 5%;
    font-family: 'Calibri';
    color: #6D6F6D
}

.button-marge {
   
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 3%;  
}

.button-add-garden {
    margin-left: 45.5%;
}

.farm-container {
    display: flex;
}
